#root{
    height: 100%;
    .App{
        height: 100%;
        overflow: hidden;
        display: fixed;
        .Content{
            height: 100%;
            display: grid;
            grid-template-columns: 5% 95%;
            .Nav-Menu{
                text-align: center;
                box-shadow: 0 0 5px 1px #8a795d;
                .Nav-Menu-Button{
                    padding: 25px 0;
                }
                .Nav-Menu-Items{
                    padding-top: 125px;
                    .Nav-Icon{
                        display: block;
                        padding: 15px 0;
                        img{

                        }
                    }
                }
            }
            .Content-Body{
                background: $beige;
                display: grid;
                grid-template-rows: 8% 87% 5%;
                overflow: hidden;
                .Header{
                    display: grid;
                    grid-template-columns: 20% 80%;
                    .Title{
                        text-align: center;
                        padding-top: 20px;
                        h2{
                            margin: 0;
                            font-family: $secondaryFont;
                            letter-spacing: 1px;
                            color: $red;
                            font-size: 1.8em;
                        }
                    }
                    .Sub-Nav{
                        padding-top: 20px;
                        padding-right: 25px;
                        text-align: right;
                        a{
                            text-decoration: none;
                            color: $black;
                            margin-left: 25px;
                            h2{
                                margin: 0;
                                display: inline-block;
                                font-family: $secondaryFont;
                                letter-spacing: 1px;
                                font-size: 1.8em;
                            }
                        }
                        .Active{
                            color: $red;
                        }
                    }
                    .Icon{

                    }
                }
                .Body{
                    
                }
                .Footer{

                }
            }
        }
    }
}